language: java
jdk:
- openjdk8
services:
- docker

env:
  global:
    - secure: kY9KmI8PNj+101wP/ODx2fawZb8Evm9II/lzw5q6ysPJr9XWXjrf13QhuUj/MfD2OO+fahUCZis5XiWTAk7+t4BOaHWsPStAO+d/5Q99koug4mbvHMHXuo6tJccml1aKQOsInMdA6b+A1wxMEEorspXMngeWZsuhEH6TkcgP2Is3bXuq1R0peUWodOL7ilTM681kFUjbmO+lM9KGfh97P2fTFWINMfOYBXENVPbkaLBbxUp8VVFYi2sBfwpMkYeRvbtuYjWnsesluvekfXiZ+VA5srDUDnx8P20IBihBslrSdvUR/Nb7isIR1E1JjTDcioUIiefQoaiCQdRmN3eeXkmWYZXyWkiBHGWyrY5x2OKSxgih2LQxMNQw8IraIpebxyVcuTANuDtemWrS1wfFBGLvW+9rxXmy/AmR6LwJEL2234+0pnOWbxZrRgZ33hOnMg6J/+2arMCxBw67WO1isn/88duzu0YUCXHMcBdZ5zEZrvpfrKk/yMDbpnrsrkDlm/H54w60afXOUzif7AVerztsZ2h8OVJxUP3BFp/mdE1TUZlg0zwvzCqjJZQBB/2lPI0b4Y1HSVY0Aaxu5KMJ5dBYlU8FYKZyjI7upRv9ulWXCjRLqFZgRWvSlyg69lt6buwnbz4k6yDTfirKkDXmJOrbLHIVcon6d2zian95ax4=
    - secure: rvWmJbsq6ZIfpNHfE5xswgfeJEeGiPBrlMeDEAbo35ZLcZMUPJ6Lq4Od6Ez8pdSRVAGRwjADoIarP/jwsGjtAhDMUKFOngeOo4iYNqEEk2eD0wbp/QbN5jbvTK+svXXgsfCt0o5oAY2pgD/1YzPr51BsMl6I8ICm2dq7l9SlDCpUyFbjShyIOqgjP+pYTCmF9hyUM+IWIoGPgGIoIENszW54tdfcOA9YViO4Ug4FBtHPSHXaMxo8U096Fu3+n3+Fa4QAZUl22RjMn7nInxQEoR+aY7iqzcpH4D3zE92RL8jvTRGNVvYWZlMQJE+QIr5tt2Ga/bL4NOhX5lCjXhIY7STQjo2yVNn1f51fF+PUbY9Plbu4iKMG0ikw9HKPdUTdBAm7XlW+17WJM/XvTFhUzK+F97i59x7yJnr/f5ZreIrBzgt5QVv985zr+ZtzSiPv93Jm2m0qmicSJSFNWiBPKL36HcYKx0MTsQfpT68832wYAcpkG8zRGv0ObqJdXvduQZnhpi2UawAETyBXbT07w+rhEjw6jWif2B7zs7JUFIqPxd2tpwlOKqZKQq9b2pi0KxhdpZeOo8Cqe+UVffkNbAbdP4mV2D2eercWB7gIrC/XBHfkYHaPeLbPlYFG47htGsLCUJ/gEr341Q0VehpqNRcj63WWUA50m+5XYEKtRUY=
    - secure: XitJSK6qT28uE36WE6XfR2Pksk8Fl/PompP9kOEjYfyW0QARer+8fygLdNWVEFLyXB3GURAONXkhoq0Fr2daHjro85i/t+SwMT7TzoUZz/IdDRrnZvOGMkxZipuLNEsfZeob2iK7ahzPNulWFdRCScqgJXILJcuXzpV+wghctCdW0BBR8j3M1hGPDXEHi+sbP3NAys9LtvGaNCd6ykR5jWieq13rMgx4dG/nTA2G0i411p4LVhBzyDz6ehG5biAHq8e0kfprT7YAvXKKBXw7EHLGowGO42GG08GYMfZakP4hYHG6TgtrJxpiP3NN3j2abrFdH/OBuUOpINuGF6Dv3+SS9quF1y1l8ntR8EGaIEYVni6XCNx4KIO9XsUF74u009DaUUnzYQxooOzwkLiqjM38xHXWuCElk3bWecWy3dn7MmEaDpuFCikONgq7dp/5DM4nRJHR+Jjf+rE4+qnh7rwjW2/LDx6oONTBbv1EUhkLDVDg1rOajgUYtBxVPt5BgspqRr8FcMFlAnB9gA+hMVUVGhYr66/Ku3ZQl/NeqjtiWmZJiOuD9eZeZRqA6gayKZ/ySqfOpAzSaLnAug6NsZtXEaBDe5Xg21Kk7ahuG4dyqs+777fMCWuW3ANhzUZ8d9ESsL86BU6CMJmaZj7G6ATCKMPC2bxNEFsna8BUslY=

before_install:
- docker pull openjdk:8-jdk-alpine
script:
- "./gradlew clean test"
- "./gradlew integrationTest"
- "./gradlew build -x test"
after_success:
- export COMMIT=${TRAVIS_COMMIT::7}
- export IMAGE_NAME=ilja07/country-phone
- export TAG=`if [ ! -z "$TRAVIS_TAG" ]; then echo "$TRAVIS_TAG"; else echo "$TRAVIS_BRANCH--$COMMIT";
  fi`
- ls -la
- pwd
- docker-compose build
- docker tag $IMAGE_NAME:latest $IMAGE_NAME:$TAG
#- docker login --username $DOCKER_USER --password $DOCKER_PASSWORD
- echo $DOCKER_PASSWORD | docker login --username $DOCKER_USERNAME --password-stdin
- docker push $IMAGE_NAME:$TAG
deploy:
  provider: heroku
  api_key:
    secure: $HEROKU_API_KEY
  app: country-phone
